body {
	font-family: Arial, sans-serif;
	width: 500px;
	margin: auto;
}

h1, hr {
	margin: 0px;
	padding: 0px;
}

#banner {
	background: black;
	padding: 5px;
	color: white;
	margin-top: 5px;
}

#controlBar {
	padding-top: 3px;	
}

table {
	border: 1px solid;
	width: 100%;
	border-collapse: collapse;
}

tr, td, th {
	border: 1px solid;
	text-align: left;
	padding: 5px;
}

caption {
	font-weight: bold;
	text-align: left;
}

form {
	margin-top: 30px;
}

legend {
	font-weight: bold;
}

fieldset p {
	margin: 5px;
}

fieldset p input, fieldset p select {
	margin-left: 10px;	
	float: none;
}

#newform label.error {
	color: red;
	font-size: 60%;
	width: 200px;
}

fieldset p label {
	width: 120px;
	display: inline-block;
}